<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create</title>
    <link th:href="@{/css/pages/create.css}" rel="stylesheet"/>
</head>
<body>
<header class="header">
    <h1>Edit Task</h1>
</header>
<main class="main">
    <form th:action="@{/tasks/update(id=${task.id})}" th:method="post">
        <div class="field">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" th:value="${task.title}">
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea name="description" id="description" th:text="${task.description}"></textarea>
        </div>
        <div class="field">
            <label for="priority">Priority</label>
            <select name="priority" id="priority">
                <option value="important" th:selected="${task.priority == 'important'}">important</option>
                <option value="not important" th:selected="${task.priority == 'not important'}">not important</option>
            </select>
        </div>
        <div class="field">
            <label for="due_date">Deadline</label>
            <input type="datetime-local" name="due_date" id="due_date" th:value="${formattedDateTime}">
        </div>
        <div th:each="category : ${categories}" class="field" >
            <label>
                <input type="checkbox" th:value="${category.id}" th:name="selectedCategories"  th:checked="${task.categories.contains(category)}"/>
                <span th:text="${category.title}"></span>
            </label>
        </div>
        <button type="submit">Save Changes</button>
    </form>
</main>
</body>
</html>